
body{
    background-color: #04003F;
}

.Logo{
    height: 150px;
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
}

.Proximo{
    display: flex;
    align-items: center;
    transform: translate(900px, 50px);
    gap: 20px;
}

.pesquisa{
  transform: translate(1800px, 100px); 
}

header{
    display: flex;
}

.retangulo img{
    display: flex;
    margin-left: 210px;
    height: 1100px;
    width: 2300px;
    
}

main{ 
    width: 100%;
    height: 1100px;
    
}

.facebook img{
    transform: translate(90px, 300px);
    width: 70px;
}

.twitter img{
    transform: translate(90px, -700px);
    width: 70px;
}

.instagram img{
    transform: translate(90px, -630px);
    width: 70px;
}

.capitao img{
    transform: translate(1400px, -1350px);
    width: 1000px;
}

.america{
    transform: translate(500px, -2380px);
    font-size: 50PX;
    letter-spacing: 2PX;
    font-family:Helvetica;
    text-shadow: 0px 5px 0px rgb(186, 186, 186);
}

.sobrenome{
    transform: translate(500px, -2370px);
    font-size: 50px;
    font-family: Helvetica;
    text-shadow: 0px 5px 0px rgb(186, 186, 186);
}
.hero{
    transform: translate(500px, -2650px);
    font-size: 20px;
    color: #8F8F8F;
    letter-spacing: 5px;
}

.shield img{
    transform: translate(600px, -2400px);
    width: 400px;
}

.video img{
    transform: translate(550px, -2350px);
    width: 500px;
}

.pontilhado img{
    transform: translate(950px, -2350px);
    width: 800px;
}

.seta img{
    transform: translate(1280px, -2600px);
    width: 150px;
}

.linha1{
    transform: translate(200px, -3700px);
    height: 300px;
}

.linha2{
    transform: translate(200px, -3050px);
}

.linha3{
    transform: translate(170px, -3100px);
}

